@use 'mixins';

html {
    scroll-behavior: smooth;

    body {
        font-family: 'Poppins', sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        overflow-x: hidden;

        @media (max-width: 768px) {
            @include mixins.flex-column;

            img {
            max-width: 100%;
            height: auto;
            }
        }

        .side-content {
            @include mixins.flex-column;
            grid-column: 1;
            position: fixed;
            top: 0px;
            width: 350px;
            height: 100vh;
            padding: 50px 20px 0px 90px;
            gap: 10px;
            z-index: 1;
            margin-left: 80px;

            @media (max-width: 768px) {
                width: 100%;
                height: auto;
                position: relative;
                text-align: center;
                padding: 20px;
            }

            .logo {
                color: #222;
                font-size: 35px;
                margin-top: 95px;
                margin-bottom: 0;
                font-weight: 700;

                @media (max-width: 768px) {
                    font-size: 28px;
                }
            }

            .occupation {
                color: #DE5499;
                font-size: 18px;
                margin: 0;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }

            .tagline {
                font-size: 15px;

                @media (max-width: 768px) {
                    font-size: 14px;
                }

                span {
                    color: #DE5499;
                    font-weight: bold;
                }
            }

            p {
                color: #333333;
            }

            .navbar {
                display: flex;
                justify-content: center;
                align-items: center;

                .nav-list {
                    font-size: 1.2rem;
                    font-weight: 500;
                    list-style: none;
                    width: 100%;

                    @media (max-width: 768px) {
                        font-size: 1rem;
                    }

                    .nav-item {
                        font-size: 15px;
                        width: 100%;
                        padding: 20px 0px;
                        text-align: center;
                    }

                    .nav-link {
                        color: black;
                        text-decoration: none;
                        transition: color 0.3s;
                    }

                    .nav-link:hover {
                        color: #DE5499;
                    }

                    .nav-link.active {
                        font-weight: bold;
                        color: #DE5499;
                    }

                    .nav-link::before {
                        content: '// ';
                        color: #E99F4C;
                        margin-right: 1px;
                    }
                }
            }

            .social-icons {
                height: 225px;
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items:flex-end;
                gap: 15px;

                @media (max-width: 768px) {
                    align-items: center;
                    justify-content: center;
                }

                .icon img {
                    width: 35px;
                    height: 35px;
                }

                .icons:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
                
            }
        }

        main {
            @include mixins.flex-column;
            grid-column: 2;
            height: 100%;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            @media (max-width: 768px) {
                grid-column: auto;
                width: 100%;
            }

            .main-container {
                @include mixins.flex-column;

                @media (max-width: 768px) {
                    padding: 25px;
                }

                spline-viewer {
                    width: 100%;
                    height: 700px;
                    display: block;
                    margin: 50px 0px 50px 50px;
                    padding-right: 100px;


                    @media (max-width: 768px) {
                        width: 100%;
                        min-height: 50vh;
                        display: block;
                        margin: 50px auto;
                    }
                }

                #about-me {
                    @include mixins.flex-column;
                    height: 100vh;
                    justify-content: flex-end;

                    @media (max-width: 768px) {
                         margin-top: 600px;
                        }
                    

                    h3 {
                        @include mixins.headers-styling;
                    }

                    p {
                        padding-right: 15px;
                        margin-right: 25px;
                    }
                }

                td {
                    padding: 20px 30px;
                }

                .year {
                    color: #E99F4C;
                    font-weight: bold;
                }

                .skills {
                    margin: 100px 0px;
                    padding-bottom: 50px;

                    h3 {
                        text-align: center;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }

                    img {
                        height: 110px;
                        width: 110px;
                    }

                    .skills-icons {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 40px;
                        justify-content: center;

                        @media (max-width: 768px) {
                            flex-wrap: wrap;
                            justify-content: center;
                            gap: 40px;
                        }

                        .skill-card {
                            @include mixins.flex-column;
                            margin-top: 20px;
                            background: #F2EBE9;
                            padding: 15px;
                            border-radius: 12px;
                            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
                            transition: transform 0.2s ease-in-out;

                            h5 {
                                text-align: center;
                                letter-spacing: 1px;
                                color: white;
                                background-color: #DE5499;
                                padding: 5px 12px;
                                border-radius: 20px;
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }

                        .skill-card:hover {
                            transform: scale(1.05);
                        }
                    } 
                }

                #projects {
                    margin-top: 50px;

                    h3 {
                        @include mixins.headers-styling;
                    }

                    .project-card {
                        color: #DE5499;
                        background: #F2EBE9;
                        padding: 20px;
                        border-radius: 12px;
                        border-radius: 12px;
                        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                        transition: transform 0.3s ease-in-out;
                        text-align: center;

                        img {
                            width: 100%;

                            @media (max-width: 768px) {
                                max-width: 100%;
                                height: auto;
                            }
                            
                        }
                    }

                    .project-card:hover {
                        transform: translateY(-5px);
                        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
                    }
                }
            }
        }
    }
}
